
#main-nav {
  text-align: center;
}

ul.topUL {
  display: inline-block;
  text-align: left;
}
#font-color-demo{
  color: blue;
}

#background-color-demo{
  background-color: red;
}
#font-demo {
  
  font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}
/*h1 {
  position: absolute;
  left: 40px;
  top:15px;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  color: #E35335;
}


#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}



#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #ccc;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
*/